
<!-- Page content -->
<div class="w3-content" style="max-width:2500px;margin-top:23px">

    <!-- Automatic Slideshow Images -->
    <div  class="background-image">
      <img src="/assets/images/slider-1.jpg" style="width:100%" >
    </div>
  
    <!-- O NAMA -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:2000px" id="onama">
      <h2 class="w3-wide">O NAMA</h2>
      <p class="w3-opacity"><i>We love music</i></p>
      <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Name</p>
          <img src="/assets/images/slider-1.jpg" class="w3-round w3-margin-bottom" alt="1" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Name</p>
          <img src="/assets/images/slider-1.jpg" class="w3-round w3-margin-bottom" alt="2" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Name</p>
          <img src="/assets/images/slider-1.jpg" class="w3-round" alt="3" style="width:60%">
        </div>
      </div>
    </div>
  
    <!-- SNIZENJE -->
    <div class="w3-black" id="snizenje">
      <div class="w3-container w3-content w3-padding-68" style="max-width:2000px">
        <h2 class="w3-wide w3-center">SNIZENJE</h2>
        <ul class=" w3-black w3-text-white">
          <li class="w3-display-container w3-large"> <img src="/assets/images/slider-2.jpg" style="width:70%"> <span class="w3-tag w3-green w3-margin-left" style="width:10%">-30% na sve majice</span></li>
          <li class="w3-display-container w3-large"> <img src="/assets/images/slider-3.jpg" style="width:70%"> <span class="w3-tag w3-green w3-margin-left" style="width:10%">-10% pri kupovini</span></li>
        </ul>
      </div>
    </div>
  
   
    <!-- The Contact Section -->
    <div class="w3-container w3-content " style="max-width:2000px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <div class="w3-row w3-padding-32">
        <p class="w3-opacity w3-margin-left"><i>Kako do nas:</i></p>
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
      </div>
    </div>
    
  <!-- End Page Content -->
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
  
  <script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("SLIDE");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "flow-root";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
  }
  </script>
  