
<!-- Page content -->
<div class="w3-content" style="max-width:2500px;margin-top:62px">

    <!-- Automatic Slideshow Images -->
    <div  class="background-image">
      <img src="/assets/images/slider-1.jpg" style="width:100%" >
    </div>
  
    <!-- O NAMA -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:2000px" id="onama">
      <h2 class="w3-wide">O NAMA</h2>
      <p class="w3-opacity"><i>Najbolji sajt za kupovinu</i></p>
      <p class="w3-justify">Nasa roba napravljena je od najkvalitetnijih materijala, pazljivo izabranih i bojjenih prirodnim tkaninama koji su krojeni bas po svacijoj meri.
Trudimo se da ponudu prosirimo svakog meseca i da ona bude raznovrsna. Takodje, trudimo se da nasu sofisticiranu garderobu dostavimo u sto kracem roku, da je nudimo po
najboljim cenama na trzistu i da koristimo najbolje tehnike sivenja. 
      </p>
      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Majice</p>
          <img src="/assets/images/3a6e1bbb1d2ffab9286b18665b2b3a60.jpg" class="w3-round w3-margin-bottom" alt="1" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Haljine</p>
          <img src="assets/images/Dept-Store-t-shirts-on-rack-with-room-for-text-picjumbo-com-1920x1080-cropped.jpg" class="w3-round w3-margin-bottom" alt="2" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Pantalone</p>
          <img src="assets/images/fashion-design-clothes-display-rack-retail-shop-new-collection-rain-snow-coat-casual-dress-window-shopping-sale-stylist-152362620.jpg" class="w3-round" alt="3" style="width:60%">
        </div>
      </div>
    </div>
  
    <!-- SNIZENJE -->
    <div class="w3-black" id="snizenje">
      <div class="w3-container w3-content w3-padding-68" style="max-width:2000px">
        <h2 class="w3-wide w3-center">SNIZENJE</h2>
        <ul class=" w3-black w3-text-white">
          <li class="w3-display-container w3-large"> <img src="/assets/images/slider-2.jpg" style="width:70%"> <span class="w3-tag w3-green w3-margin-left" style="width:10%">-30% na sve majice</span></li>
          <li class="w3-display-container w3-large"> <img src="/assets/images/slider-3.jpg" style="width:70%"> <span class="w3-tag w3-green w3-margin-left" style="width:10%">-10% pri kupovini</span></li>
        </ul>
      </div>
    </div>
  
   
    <!-- The Contact Section -->
    <div class="w3-container w3-content " style="max-width:2000px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <div class="w3-row w3-padding-32">
        <p class="w3-opacity w3-margin-left"><i>Kako do nas:</i></p>
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Belgrade RS, Ruziceva 10<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +00 111111<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: email@email.com<br>
        </div>
      </div>
    </div>
    
  <!-- End Page Content -->
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <p class="w3-medium">DOBRODOSLI</p>
  </footer>
  