<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button  class="w3-padding-large w3-button" title="Home">HOME <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a mat-icon [routerLink]="['home']" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="home/#onama" class="w3-bar-item w3-button w3-padding-large w3-hide-small">O NAMA</a>
        <a  href="home/#snizenje" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SNIZENJE</a>
        <a href="home/#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      </div>
    </div>
    <div  class="w3-dropdown-hover w3-hide-small">
      <button  class="w3-padding-large w3-button" title="Artikl">ARTIKL <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a mat-list-item  [routerLink]="['artikl']" class="w3-bar-item w3-button w3-padding-large">ARTIKL</a>
        <a mat-list-item [routerLink]="['marka']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MARKA</a>
        <a mat-list-item [routerLink]="['model']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MODEL</a>
        <a mat-list-item [routerLink]="['velicina']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VELICINA</a>
        <a mat-list-item [routerLink]="['barkod']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BARKOD</a>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="MojNalog">PREGLED <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a  mat-list-item [routerLink]="['racun']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RACUN</a>
        <a  mat-list-item [routerLink]="['porudzbina']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PORUDZBINA</a>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="MojNalog">NALOG <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a  mat-list-item [routerLink]="['login']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
        <a  mat-list-item [routerLink]="['kupac']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">KUPAC</a>
        <a  mat-list-item [routerLink]="['radnik']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RADNIK</a>
      </div>
    </div>
    
  </div>
</div>
<router-outlet ></router-outlet>

</html>